<!doctype html>
<!--[if lt IE 7]>  <html ng-app="mainApp" lang="en" class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html ng-app="mainApp" lang="en" class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html ng-app="mainApp" lang="en" class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html ng-app="mainApp" lang="en" class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html ng-app="mainApp" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html ng-app="mainApp" lang="en"><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="app.min.js"></script>
  </head>
  <body ng-controller="mainController">
    <h1>{{ pageTitle }}</h1>
  </body>
</html>